.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.showPasswordToggle {
  cursor: pointer;
  transition: all;
}

.showPasswordToggle:hover {
  transform: scale(1.2);
}

.add-btn {
  border-radius: 15px;
  color: rgb(0, 186, 186);
  border: 2px solid rgb(0, 186, 186);
  font-weight: 600;
}

.add-btn:hover {
  color: rgb(0, 223, 223);
  border: 2px solid rgb(0, 223, 223);
  transition: 0.4s ease-in-out;
}
